<div class="container">

  <mat-card >
    <mat-form-field class="col-md-6"  appearance="fill">
      <mat-label >Linha digitável </mat-label>
      <input matInput type="text" [(ngModel)]="boleto">
      <button *ngIf="boleto" matSuffix mat-icon-button aria-label="Clear" (click)="boleto=''">
        <mat-icon> close </mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="col-md-6"  appearance="fill">
      <mat-label >Contratante </mat-label>
      <input matInput type="text" [(ngModel)]="contratante">
      <button *ngIf="contratante" matSuffix mat-icon-button aria-label="Clear" (click)="contratante=''">
        <mat-icon> close </mat-icon>
      </button>
    </mat-form-field>
    <mat-card-actions  >
      <button mat-button (click)="ObterPessoa()" >Pesquisar</button>
    </mat-card-actions>
  </mat-card>
  <div class="animate__animated animate__fadeInLeft" *ngIf="pessoa" >

  <mat-card class="example-card" >

    <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start">
      <mat-card-subtitle> Cod Contratante: {{pessoa.cdnCliente}} </mat-card-subtitle>
      <mat-card-subtitle> Lote: {{pessoa.lote}} </mat-card-subtitle>
      <mat-card-subtitle> Carteirinha: {{pessoa.carteirinha}} </mat-card-subtitle>
      <mat-card-subtitle> Telefone: {{pessoa.telefone}} </mat-card-subtitle>
      <mat-card-subtitle>Vencimento - {{pessoa.dtVencimento | date:'dd/MM/yyyy'}}</mat-card-subtitle>

    </div>
    <mat-divider inset></mat-divider><br/>
    <div fxLayout="column" >
      <mat-card-title>{{pessoa.nmUsuario}}</mat-card-title>
    </div>

    <mat-card-content>
      <h3>
        {{pessoa.mensagem}}
      </h3>
    </mat-card-content>
    <mat-divider inset></mat-divider><br/>

    <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start" style="margin-bottom: -12px;">

     <mat-card-subtitle>Tipo de Envio - {{pessoa.tipoEnvio}}</mat-card-subtitle>
     <mat-card-subtitle> <strong>Valor da Fatura: R$ {{pessoa.valor}}</strong>  </mat-card-subtitle>

    </div>
  </mat-card>
</div>
</div>




